<div class="row fullHeight">

  <div class="col-lg-2 col-md-3 card-right-box-shadow leftMenu">
    <app-drawer></app-drawer>
  </div>
  <div class="col-lg-10 col-md-9 padding0">
    <div class="col-md-12 card-light-box-shadow zindex1">
      <app-header></app-header>
    </div>

    <div class="col-md-12 titleDiv blackColor card-light-box-shadow">
      Today: <strong> Current Day Statistics & Analysis </strong>
    </div>

    <div class="col-md-12 main">
      <div class="row mainChild">
        <div class="col-md-3 padding0">
          <div class="row">
              <div class="col-md-10 col-md-offset-1 card-light-box-shadow cardContainer padding0">
                <div class="ibox-title">
                    <span class="badge badge-success float-right" style="background-color:#2E7D32 !important">Today</span>
                    <h4>Today's Orders</h4>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" style="color:#2E7D32">30</h1>
                    <small>Total Orders Today</small>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-3 padding0">
          <div class="row">
              <div class="col-md-10 col-md-offset-1 card-light-box-shadow cardContainer padding0">
                <div class="ibox-title">
                  <span class="badge badge-success float-right" style="background-color:#F57C00 !important">Today</span>
                  <h4>Total Sale Today</h4>
                </div>
                <div class="ibox-content">
                  <h1 class="no-margins" style="color:#F57C00">16,789</h1>
                  <small>Today's Sale</small>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-3 padding0">
          <div class="row">
              <div class="col-md-10 col-md-offset-1 card-light-box-shadow cardContainer padding0">
                  <div class="ibox-title">
                      <span class="badge badge-success float-right" style="background-color:#5E35B1 !important">Today</span>
                      <h4>Total Spending</h4>
                  </div>
                  <div class="ibox-content">
                      <h1 class="no-margins" style="color:#5E35B1">6,789</h1>
                      <small>Today's Items Cost</small>
                  </div>
                </div>
          </div>
        </div>
        <div class="col-md-3 padding0">
          <div class="row">
              <div class="col-md-10 col-md-offset-1 card-light-box-shadow cardContainer padding0">
                  <div class="ibox-title">
                      <span class="badge badge-success float-right" style="background-color:#8E24AA !important">Today</span>
                      <h4>Total Profit Today</h4>
                  </div>
                  <div class="ibox-content">
                      <h1 class="no-margins" style="color:#8E24AA">{{16789 - 6789}}</h1>
                      <small>Profit Earned Today</small>
                  </div>
              </div>
          </div>
        </div>
      </div>

        <div class="mainChild2 row">
            <div class="col-md-12 card-light-box-shadow cardContainer ">
              <div class="ibox-title">
                  <span class="badge badge-success float-right" style="background-color:#8E24AA !important">Today</span>
                  <h4>Items sold today</h4>
              </div>
              <div class="ibox-content">
                  <h1 class="no-margins" style="color:#8E24AA">Poha 24 , upma 45 , Misal 22</h1>
                  <small>All Items sale today</small>
              </div>
            </div>
        </div>

        <div class="row mainChild3">
          <div class="col-md-4">
            <div class="row">
                <div class="col-md-11 background-light-box-shadow cardContainer2 ">
                  <div class="ibox-title">
                      <span class="badge badge-success float-right" style="background-color:#43A047 !important">Today</span>
                      <h4>BreakFast Vs Lunch Vs Dinner</h4>
                  </div>
                  <div class="ibox-content">
                    <h1 class="no-margins" style="color:#8E24AA">23% 34% 45%</h1>
                    <small>Total earning percentrage</small>
                  </div>
                </div>
            </div>
          </div>

          <div class="col-md-8 ">
            <div class="row">
                <div class="col-md-12 background-light-box-shadow cardContainer2 ">
                    <div class="ibox-title">
                        <span class="badge badge-success float-right" style="background-color:#0D47A1 !important">Today</span>
                        <h4>Most Profitable Items</h4>
                    </div>
                    <div class="ibox-content">
                      <h1 class="no-margins" style="color:#8E24AA">Upma and Pohe and misal</h1>
                      <small>Todays Most Profit</small>
                    </div>
                </div>
            </div>
          </div>
        </div>


    </div>
  </div>

</div>
