<div class="row fullHeight noMargin backImage VAlignChildren">

  <div class="col-md-5 offset-md-1 col-sm-5 hidden-xs">
    <h2>Intelligent System To Collect And Analyze Your Orders For Better Insights</h2>
  </div>

  <div class="offset-md-1 col-md-3 offset-sm-1 col-sm-4 col-xs-12 fullHeight loginContainer VAlignChildren">
    <div class="row">
      <form class="main-form" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" ngNativeValidate>
        <div class="flemingoLogo col-md-12 col-sm-12 col-xs-12"></div>
        <input type="text" placeholder="Username" name="Username" ngModel required />
        <input type="password" placeholder="Password" name="Password" ngModel required/>

        <input type="submit" value="Sign in">
        <a href="#" title="">Forgot your password?</a>
        <div>
          <a href="#" title="">Don't have an account?</a>
          <a routerLink="/dashboard">Sign Up</a>
        </div>
      </form>
    </div>

  </div>

</div>
